/*
<style>
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:wght@700&display=swap');
</style>

font-family: 'Karla', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
    background-image: url("Images/Project0_2.png");
    background-size: cover;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;

}

.logo {
    margin: 0 auto;
    width: 350px;
}

.grid-item {
    font-family: 'Poppins', sans-serif;;
}

.head {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}

.score {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 300px;
}

.team {
    padding: 0 0 0 20px;
}

.xScore {
    margin-left: -15px;;
    color: #ff1dca;
}

.oScore {
    margin-left: -15px;
    color: #ff1dca;
}

.team {
    color: #0a02ff;
}

h2 {
    padding: 0 20px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.grid-item {
    background-color: #544ef8d4;
    border: 1px solid white;
    font-size: 45px;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
    color: white;
} 

.turn {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: 70px;
}

.xTurn {
    height: 20px;
    width: 115px;
    border: 2px solid white;
    background-color: #ffffff40;
    color: white;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.oTurn {
    height: 20px;
    width: 115px;
    border: 2px solid white;
    background-color: #ffffff40;
    color: white;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.X, .O {
    border: 2px solid #3b0ac4;
    background-color: #544ef8;
    transition-duration: 0.8s;
}

.winner {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 50px;  
}
#won {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: #ffffff80;
    transition: 1s;
}

h3 {
    color: #544ef8;
    justify-content: center;
    line-height: 2.8;  
    transition: 1s;
}

#activeRectangle {
    margin: 0 auto;
    margin-top: -22px;
    height: 10px;
    width: 209px;
    display: flex;
    background-color: rgb(255, 221, 0);
    transition: 1s;
}
 
.space {
    height: 20px;
    width: 300px;
    margin: 0 auto;
}

.button {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.reset {
    position: inline-block;
    margin-left: 40%;
    text-align: center;
    font-family: 'Poppins semibold', helvetica, sans-serif;
    padding: 3px 13px 3px 13px;
    border-radius: 0.4em;
    background-color: #f3f7ff;
    border: 1px solid #043aa6;
    box-shadow: 3px 3px 4px #150935;
    transition: 1s;
}

.reset:hover {
    color: rgb(81, 81, 81);
}

#inactive {
    color: rgb(246, 246, 246);
    background-color: rgb(172, 172, 172);
    border: rgb(121, 121, 121);
    box-shadow: 1px 1px 1px rgb(121, 121, 121);
}

.grid-item {
    font-family: 'Poppins semibold', helvetica, sans-serif;
}

/* Fix the transition. Once the box is displayed, it moves the reset button */