/*
<style>
  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:wght@700&display=swap');
</style>

font-family: 'Karla', sans-serif;
font-family: 'Poppins', sans-serif;
*/

body {
    background-image: url("Images/Project0_bg.png");
    background-size: cover;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;

}

.head {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}

h1, h3 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    

}

.grid-item {
    background-color: white;
    border: 1px solid black;
    font-size: 45px;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 10px;
} 

.turn {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: 80px;
}


h3 {
    margin: 0 auto;
    margin-top: 20px;
}

.x {
    background-image: url("Images/icons8-close-144.png");
    margin: 0 auto;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 1s;
}

.x:hover {
    background-image: url("Images/icons8-close-144.png");
}

.o {
    background-image: url("Images/icons8-hollow-red-circle-144.png");
    margin: 0 auto;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 1s;
}

.whichTurn {
    height: 20px;
    width: 115px;
    border: 2px solid white;
    background-color: #ffffff40;
    color: white;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}

.active {
    border: 2px solid #3b0ac4;
    background-color: #544ef8;
    box-shadow: 3px 3px 4px #4017c6;
}

.winner {
    display: flex;
    background: white;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: 80px;
    border: solid 1px red;
}
 